<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>运维平台</title>
{% block heads %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/localchange.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<link href="/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/static/css/custom.css" rel="stylesheet">

{% endblock %}
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>欢迎使用</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{ request.user.email }}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="{%  url 'auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请输入服务器IP或者主机名">
			</div>
		</form>
		<ul class="nav menu">
			<!-- <li class="active"><a href="/BatchM/index.html"><span class="glyphicon glyphicon-dashboard"></span>前台</a></li> -->

			<li><a href="charts.html"><span class="glyphicon glyphicon-stats"></span>服务器性能趋势监控</a></li>
            <li id="saltstack_manage" class="parent ">
                <a href="#"  onclick="in_active(this)">
					<span class="glyphicon glyphicon-adjust"></span> saltstack管理 <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
				</a>
                <ul class="children collapse" id="sub-item-4">
					<li>
						<a id="single_host" href="/BatchM/salt_single_host">
							<span class="glyphicon glyphicon-share-alt"></span>单机管理
						</a>
					</li>
                    <li>
						<a id="group_host" href="/BatchM/salt_group_host">
							<span class="glyphicon glyphicon-share-alt"></span>组管理
						</a>
					</li>
				</ul>
            </li>
            <li id="server_asset" class="parent ">
                <a href="#"  onclick="in_active(this)">
					<span class="glyphicon glyphicon-adjust"></span> 服务器信息汇总 <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
				</a>
                <ul class="children collapse" id="sub-item-3">
					<li>
						<a id="server_list" href="/asset/asset_list">
							<span class="glyphicon glyphicon-share-alt"></span>已审批服务器列表
						</a>
					</li>
                    <li>
						<a id="server_wait_approvel" href="/asset/asset_approvel">
							<span class="glyphicon glyphicon-share-alt"></span>待审批服务器列表
						</a>
					</li>
					<li>
						<a id="server_graphic" href="/asset/asset_graphic">
							<span class="glyphicon glyphicon-share-alt"></span>服务器信息图表
						</a>
					</li>
				</ul>
            </li>
			<li id="docker_manage" class="parent ">
                <a href="#" id="container_manange" onclick="in_active(this)">
					<span class="glyphicon glyphicon-list"></span> Docker管理 <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
				</a>
            <ul class="children collapse" id="sub-item-2">
					<li>
						<a id="containers_manage" href="/BatchM/DockerM.html">
							<span class="glyphicon glyphicon-share-alt"></span>容器管理
						</a>
					</li>
					<li>
						<a id="images_show" href="/BatchM/DockerM.html/images_show">
							<span class="glyphicon glyphicon-share-alt"></span> 镜像查看
						</a>
					</li>
				</ul>
            </li>
            <li class="parent " id="update_index">
				<a href="#" id="ApplyUpdate" onclick="in_active(this)">
					<span class="glyphicon glyphicon-save"></span> 更新操作 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a id="apply_update" href="/BatchM/apply_update.html/apply">
							<span  class="glyphicon glyphicon-share-alt"></span> 申请更新
						</a>
					</li>
					<li>
						<a id="search_record" href="/BatchM/apply_update.html/search">
							<span   class="glyphicon glyphicon-share-alt"></span> 查询申请记录
						</a>
					</li>
				</ul>
			</li>

			<li><a href="forms.html"><span class="glyphicon glyphicon-pencil"></span> ELK日志收集</a></li>
<!--			<li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> Alerts &amp; Panels</a></li> -->
{#			<li class="parent ">#}
{#				<a href="#">#}
{#					<span class="glyphicon glyphicon-list"></span> Dropdown <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> #}
{#				</a>#}
{#				<ul class="children collapse" id="sub-item-1">#}
{#					<li>#}
{#						<a class="" href="#">#}
{#							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1#}
{#						</a>#}
{#					</li>#}
{#					<li>#}
{#						<a class="" href="#">#}
{#							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2#}
{#						</a>#}
{#					</li>#}
{#					<li>#}
{#						<a class="" href="#">#}
{#							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3#}
{#						</a>#}
{#					</li>#}
{#				</ul>#}
{#			</li>#}
            </p></p></p>
                <ul class="list-group">
                    <li class="mar-btm">
                        <span id="cpu_usage_display" class="label label-primary pull-right">0%</span>
                        <p>CPU Usage</p>
                        <div class="progress1 progress-sm">
                            <div id="cpu_usage_attr" class="progress-bar progress-bar-primary" style="width: 0%;">
                                <span id="cpu_usage_width" class="sr-only">0%</span>
                            </div>
                        </div>
                    </li>
                    <li class="mar-btm">
                        <span id="mem_usage_display" class="label label-primary pull-right">0%</span>
                        <p>Mem Usage</p>
                        <div class="progress1 progress-sm">
                            <div id="mem_usage_attr" class="progress-bar progress-bar-purple" style="width: 0%;">
                                <span id="mem_usage_width" class="sr-only">0%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

		</ul>
	</div> <!--/.sidebar-->


	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">{% block stitle %}Dashboard{% endblock %}</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">{% block btitle %}仪表板{% endblock %}</h3>
			</div>
		</div><!--/.row-->
        {% block page_content %}
              page_content
        {% endblock %}
    </div>
    

        {% block import_jquery %}

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
<!--    <script src="/static/js/jquery.dataTables.min.js"></script> -->
{#    <script src="/static/js/selfdefine.js"></script>#}
	<!--Nifty Admin [ RECOMMENDED ]-->

    {% endblock %}

	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		});
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		});


        $(document).ready(function(){
            get_sys_load();
            var csrftoken = getCookie('csrftoken');
            var active_node = $("#mainnav-menu a[href='{{ request.path }}']");
            active_node.parent().addClass("active-link");
            if (active_node.parent().parent().hasClass("collapse")){
                active_node.parent().parent().addClass("in");
            }
        });//end doc ready

        function  get_sys_load(){
            $.ajax({
                url: "{% url 'get_server_host_status' %}",
                type: "GET",
                dataType: "json",
                success: function(callback){
                    for( i in callback){
                            $('#'+ i +'_display').text(callback[i]);
                            $('#'+ i +'_width').text(callback[i]);
                            $('#'+ i +'_attr').css('width',callback[i]+'%')
                    }// end for
                },// end sucess func
                error: function(callback){
                    console.log(callback)
                }// end error func
            })
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var csrftoken = getCookie('csrftoken');



        function in_active(arg) {   // 点击按钮时，时这个按钮添加active属性
            $(arg).addClass('active');
            $(arg).parent().siblings().removeClass('active').children('a').removeClass('active');
        }


	</script>

    {% block encoding_js %}
    {% endblock %}

</body>

</html>
