{% extends "index.html" %}
{% block btitle  %}
    saltstack 单机管理
{% endblock %}
{% block page_content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
     <table id="saltstack_minions_show" class="display table  table-hover" data-toggle="table"
                    data-url="{% url 'saltstack_minions_show' %}"
                    data-method="get"
                    data-pagination="true"
                    data-side-pagination="server"
                    data-page-list="[10, 20, 50, 100, 200]"
                    data-search="true" data-mobile-responsive="true" searchOnEnterKey="true"
                    data-show-refresh="true" data-show-columns="true"
                    data-show-toggle="true" data-page-size=20 data-unique-id="asset_id"
                    data-sort-stable="true"  data-striped="true"
                    data-sortable="true"
                    >
                  <thead >
                        <tr>
                        <th data-field="state" data-checkbox="true" ></th>
                        <th data-field="asset_id" class="new_asset_id" data-id-field="ture" data-sortable="true">资产ID</th>
                        <th data-field="model" data-sortable="true">服务器型号</th>
                        <th data-field="os_type" data-sortable="true">系统类型</th>
                        <th data-field="os_release" data-sortable="true">操作系统</th>
                        <th data-field="salt_minion_id" data-sortable="true">saltstack_minion_id</th>
                        <th data-field="update_date" data-sortable="true">数据更新日期</th>
                        </tr>
                  </thead>
        </table>
{% endblock %}
{% block encoding_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
        $('#saltstack_manage').toggleClass('active').siblings().removeClass('active');
        $('#sub-item-4').toggleClass('in').removeAttr('style');
        $('#single_host').css('background-color', 'grey');
    </script>
{% endblock %}
