{% extends 'index.html' %}
{% block btitle %}{{ title }}{% endblock %}
{% block page_content %}


<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel2">注意</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="agree_edit" style="display: none" onclick="agree_operation('agree_edit')">确定修改</button>
          <button type="button" class="btn btn-primary" id="agree_del" style="display: none" onclick="agree_operation('agree_del')">确定删除</button>
      </div>
    </div>
  </div>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

<div id="asset_list">
    <div class="panel-body" >

        <button class="btn btn-success" style="float: left" id="edit_selected" onclick="show_confirm('agree_edit')">修改选中的资产入库</button>
        <button class="btn btn-danger" style="float: left" onclick="show_confirm('agree_del')">删除选中的资产记录</button>
        <button class="btn btn-info" style="float: left;display: none" id="save_edit" onclick="save_edit('save')" >保存记录</button>
        <button class="btn btn-default" style="float: left;display: none" id="cancel_edit" onclick="save_edit('cancel')">取消保存</button>
        <table id="asset_list_table" class="display table  table-hover" data-toggle="table"
                data-url="{% url 'show_asset_in_table' %}"
                data-method="get"
                data-pagination="true"
                data-side-pagination="server"
                data-page-list="[10, 20, 50, 100, 200]"
                data-search="true" data-mobile-responsive="true" searchOnEnterKey="true"
                data-show-refresh="true" data-show-columns="true"
                data-show-toggle="true" data-page-size=20 data-unique-id="asset_id"
                data-sort-stable="true"  data-striped="true"
                data-sortable="true"
                >
              <thead >
                    <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="asset_id" class="id" data-align="center" data-sortable="true">资产ID(点击ID查看详情)</th>
                    <th data-field="asset_sn" class="sn" data-align="center" data-sortable="true"  data-width="50px">资产编号</th>
                    <th data-field="asset_business_unit" class="business_unit"  data-sortable="true">产品线</th>
                    <th data-field="asset_name" class="name" data-align="center" data-sortable="true"  data-class="name">资产名</th>
                    <th data-field="asset_management_ip" class="management_ip" data-align="center" data-sortable="true"  data-class="management_ip">管理IP</th>
                    <th data-field="asset_manufactory" class="manufactory_name" data-sortable="true">厂商</th>
                    <th data-field="asset_type" class="asset_type" data-sortable="true">类型</th>
                    <th data-field="asset_os_release" class="os_release" data-sortable="true">操作系统</th>
                    <th data-field="asset_salt_minion_id" class="salt_minion_id" data-sortable="true">saltminion_id</th>
                    <th data-field="asset_cpu_model" class="cpu_model" data-sortable="true">CPU型号</th>
                    <th data-field="asset_cpu_count" class="cpu_count"  data-sortable="true">CPU个数</th>
                    <th data-field="asset_cpu_core_count" class="cpu_core_count"  data-sortable="true">CPU总核数</th>
                    <th data-field="asset_rams_size" class="ram_capacity" data-sortable="true">内存大小（MB）</th>
                    <th data-field="asset_localdisks_size" class="disk_capacity" data-sortable="true">磁盘总空间（GB）</th>
                    <th data-field="asset_admin" class="username" >资产管理员</th>
                    <th data-field="asset_idc" class="idc_name" data-sortable="true">机房名</th>
                    <th data-field="asset_trade_date" class="trade_date" data-sortable="true">购买日期</th>
                    <th data-field="asset_create_date" class="create_date" data-sortable="true">创建日期</th>
                    </tr>
              </thead>
{#                <tbody>#}
{#                {% for info in assets %}#}
{#                    <tr>#}
{#                        <th><a href="/asset/asset_list/{{ info.id }}" target="_blank">{{ info.id }}</a></th>#}
{#                        <th>{{ info.asset_type }}</th>#}
{#                        <th>{{ info.name }}</th>#}
{#                        <th>{{ info.sn }}</th>#}
{#                        <th>{{ info.idc }}</th>#}
{#                        <th>{{ info.business_unit }}</th>#}
{#                        <th>{{ info.management_ip }}</th>#}
{#                        <th>{{ info.manufactory }}</th>#}
{#                        <th>{{ info.model }}</th>#}
{#                        <th>{{ info.cpu_model }}</th>#}
{#                        <th>{{ info.cpu_core_count }}</th>#}
{#                        <th>{{ info.ram_size }}</th>#}
{#                        <th>{{ info.disk_size }}</th>#}
{#                        <th><a href="shell/{{ info.id }} " target="_blank">Run Cmd</a></th>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
                <footer></footer>
        </table>
    </div>
</div>
<div id="asset_graphic" >
    <h4>当前批准入库服务器总数:&nbsp;&nbsp;<span id="total_number_show" style="color: red;font-size: larger"></span></h4>
    <div>
        <div id="os_release"  style="min-width:400px;height:450px;background-color:aliceblue;width: 50%;float: left"></div>
        <div id="manufactory"  style="min-width:400px;height:450px;background-color:aliceblue;width: 50%;float: right"></div>
        <!--暂未使用这个代码，后续可能使用 <div id="hosts_show" style="min-width:400px;height:450px"></div>
        <div>
            <h4>请选择月份</h4>
            <select>
                <option selected="selected">now</option>
                {% for month in months %}
                    <option>{{ month }}</option>
                {% endfor %}
            </select>
            <input type="submit" onclick="get_data('')">
        </div>
        --> -
        <div id="hosts_show" style="min-width:400px;height:450px">
    </div>
</div>


{% endblock %}
{% block encoding_js %}

    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script>
        $(document).ready( function () {    // 这个方法来用去高亮当前页面到右边选择到标签
            if ($('.page-header').text() == '服务器信息表') {
                $('#server_asset').toggleClass('active').siblings().removeClass('active');
                $('#sub-item-3').addClass('in').removeAttr('style');
                $('#server_list').css('background-color', 'grey');
                $('#asset_graphic').hide();
                $('#asset_list').show();

            } else if ($('.page-header').text() == '服务器信息饼状图') {
                $('#server_asset').toggleClass('active').siblings().removeClass('active');
                $('#sub-item-3').addClass('in').removeAttr('style');
                $('#server_graphic').css('background-color', 'grey');
                $('#asset_list').hide();
                $('#asset_graphic').show();
                get_data('os_release');
                get_data('manufactory');
                get_data('hosts_show')
            }
        });


    function create_graphic(result,data_type) {
        if(data_type == 'os_release'){   // 显示系统版本的圆饼图
            var os_release_data = [];
            for(var i in result){
                var push_data = [i,Number(result[i])];
                os_release_data.push(push_data);
            }
            $('#os_release').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '服务器操作系统图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'system  version',

                data:os_release_data,
            }]
        });  // end if

        }else if(data_type == 'manufactory'){   // 显示服务器制造商的图
            var manufactory_data = [];
            for(var i in result){
                manufactory_data.push([i,result[i]])
            }
            $('#manufactory').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '服务器制造商'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'manufactory',
                data: manufactory_data,
            }]
        }); // end else if

        }else if(data_type='hosts_show') {   // 折线图
            if(result['approved_month'].length  == 0){
                result['approved_month']=result['approve_month']
            }

            $('#hosts_show').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: '服务器入库信息'
                },
                subtitle: {
                    text: '最近一个月变动信息'
                },
                xAxis: {
                    categories: result['approved_month']
                },
                yAxis: {
                    title: {
                        text: '数量'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '已批准的服务器',
                    data: result['approved_number']
                }, {
                    name: '待批准的服务器',
                    data: result['approve_number']
                }]
            });
        }

    };

    // getting data to paint for hcharts from server
    function get_data(arg) {
        $.ajax(
            {
                url:'/asset/asset_graphic',
                type:'POST',
                token:csrftoken,
                dataType:'json',
                data:{'graphic_type':arg},
                success: function(data) {
                    console.log(data);
                    if(arg == 'hosts_show'){
                        var result = handler_data_line_chart(data, arg);
                        console.log('result',result);
                        create_graphic(result,arg)
                    }else {
                        var result = handler_data_pie_chart(data, arg);
                        create_graphic(result, arg)
                    }

                 }, // end success
                error: function (data) {
                    console.log(data)
                }, // end error
            }
        )
    }

    // handler these data from response of server,the data is  create a pie chart
    function handler_data_pie_chart(data,data_type) {
        var os_release_dict = {};
        var total_number = data.total_number;
        var os_release_number = data.os_release_number;
        for(var i in os_release_number){
            os_release_dict[i]=os_release_number[i]/total_number*100
        }
        if(data_type=='os_release') {
            $('#total_number_show').text(total_number)
        }
        return os_release_dict
    }

    // handler these data from response of server,the data is  create a line chart
    function  handler_data_line_chart(data,data_type) {
        var already_approved = data.already_approved;
        var wating_approve = data.waiting_approve;

        var approved_month = [];   // the list was storadged  month what come from    already_approved dict
        var approved_number = [];  // the list was storadged  how many asset was approved
        for(var k in already_approved){
            approved_month.push(k);
            approved_number.push(already_approved[k])
        }

        var approve_month = [];
        var approve_number = [];
        for(var k in wating_approve){
            approve_month.push(k);
            approve_number.push(wating_approve[k]);
        }

        var result = {};
        result['approved_month'] =  approved_month;
        result['approved_number'] = approved_number;
        result['approve_month'] = approve_month;
        result['approve_number'] = approve_number;
        return result
    }

    // 处理搜索的功能
    function search_info() {
        var select_opinon = $('#select_opinon').val();
        var input_content = $('#input_content').val();
        console.log(select_opinon,input_content);
        $.ajax({
                    url: '/asset/asset_graphic',
                    token: csrftoken,
                    dataTypes: 'json',
                    type:'get',
                    data: {'select_opinon':select_opinon,'input_content':input_content},
                    success: function (callback) {
                        console.log('success',callback)
                    },
                    error: function (callback) {
                        console.log('error',callback)
                    }
              })
    }

    // 出现模特框，让用户再次确认当前操作。
    function show_confirm(arg) {  // 显示模态框，在批准入库和删除记录之前弹出来再次确认
            var asset_id = [];
            $('input:checkbox:checked').parent().siblings('.id').each(function () {   // 遍历所有选中的框来
                    asset_id.push(Number($(this).text()))
                });
            if ( asset_id.length == 0 ){
                alert('没有选中任何数据');
                return false
            }
            $('#myModal').modal('toggle');   // 打开模态框
            $("#"+arg).show().siblings('.btn-primary').hide();
            if(arg=='agree_del'){
                $('.modal-body').html("确定要删除所选记录")
            }else if(arg=='agree_edit') {
                $('.modal-body').html("确定修改所选记录入库")
            }
        }

            // 获取用户名的
     function  get_username(action) {
         var result = '';
         $.ajax({
             async:false,
             url:"{% url 'asset_operation' %}",
             type:'post',
             dataType:'json',
             data:{'action':action},
             success:function (callback) {
                 result = callback;
             }
         });
        return result
     }


        // 对选中的资产信息由td标签替换成input 标签,data是 资产ID的数组
    function  Change_input_table(asset_id,action) {
        $('#save_edit,#cancel_edit').show();  // show buttons
        var title_data = [];
        $('thead tr th').each(function(){title_data.push($(this).attr('class'))});
        var original_data = {};
        var input_data = {};    //  定义为全局变量，我们在提交数据的时候调用
        for(var index in asset_id){   // 遍历这个资产ID的数组
            d = asset_id[index];
            console.log(d);
            original_data[d] = {};
            input_data[d] = {};
            $('input:checkbox:checked').parent().siblings('.id').each(function () {   // 遍历所有选中的框
            if(action == 'edit'){     // 表示从td标签到input标签的转换
                if( d == Number($(this).text())){     // 判断资产ID是否相等，等于的话 ，那么就开始取值，把这个行的所有内容都取出来，放在以ID为key的字典里面
                    $.each($(this).siblings('td'),function () {    // 遍历这一行的每一列的值，
                        if($(this).attr('class') != "bs-checkbox " ) {   // 如果不等于bs-checkbox ，那么我们就可以跳过第一个checkbox了,因为第一个复选框不许要取值
                            original_data[d][title_data[$(this).index()]] = $(this).text();       //    把这一列的值，以ID为key的放入字典里面,在变更之前把所有的最初值先保存
                            if($(this).attr('class') == 'username'){    // 对管理员这列做下拉框，因为后端数据库是外键
                                var rt =  get_username('get_all_username');
                                var user_select_option = "<option value='' selected='selected'></option>";
                                for(var i in rt){
                                    if(original_data[d]['username'] == rt[i]){
                                        user_select_option = user_select_option + "<option value='" + rt[i] +"' selected='selected'>"+ rt[i] + "</option>"
                                    }else{
                                        user_select_option = user_select_option + "<option value='" + rt[i] +"'>"+ rt[i] + "</option>"
                                        }
                                }
                                $(this).replaceWith("<td><select name='username'>"+ user_select_option +"</select></td>")

                            }else  if($(this).attr('class') == 'business_unit'){   // 对业务线这列做下拉框，因为后端数据库是外键
                                var rt = get_username('get_all_business');
                                var business_select_option = "<option value='' selected='selected'></option>";
                                for(var i in rt){
                                    console.log(original_data[d],original_data[d]['business_unit'],rt[i])
                                    if(original_data[d]['business_unit'] == rt[i]){
                                        business_select_option = business_select_option + "<option value='" + rt[i] +"' selected='selected'>"+ rt[i] + "</option>"
                                    }else{
                                        business_select_option = business_select_option + "<option value='" + rt[i] +"'>"+ rt[i] + "</option>"
                                        }
                                }
                                $(this).replaceWith("<td><select name='business_unit'>"+ business_select_option +"</select></td>")

                            }else  if($(this).attr('class') == 'idc_name'){  // 对idc 机房这列做下拉框，因为后端数据库是外键
                                var rt = get_username('get_all_idc_name');
                                var idc_select_option = "<option value='' selected='selected'></option>";
                                for(var i in rt){
                                     if(original_data[d]['idc_name'] == rt[i]){
                                        idc_select_option = idc_select_option + "<option value='" + rt[i] +"' selected='selected'>"+ rt[i] + "</option>"
                                    }else{
                                        idc_select_option = idc_select_option + "<option value='" + rt[i] +"'>"+ rt[i] + "</option>"
                                         }
                                }
                                $(this).replaceWith("<td><select name='idc_name'>"+ idc_select_option +"</select></td>")

                            }else  if($(this).attr('class') == 'manufactory_name'){  // 对 厂商机房这列做下拉框，因为后端数据库是外键
                                var rt = get_username('get_all_manufactory_name');
                                console.log('manufactory_name',rt);
                                var manufactory_select_option = "<option value='' selected='selected'></option>";
                                for(var i in rt){
                                     if(original_data[d]['manufactory_name'] == rt[i]){
                                        manufactory_select_option = manufactory_select_option + "<option value='" + rt[i] +"' selected='selected'>"+ rt[i] + "</option>"
                                    }else{
                                        manufactory_select_option = manufactory_select_option + "<option value='" + rt[i] +"'>"+ rt[i] + "</option>"
                                         }
                                }
                                $(this).replaceWith("<td><select name='idc_name'>"+ manufactory_select_option +"</select></td>")
                            }

                            // 把当前的值遍历后用把HTML标签替换成input标签。
                            $(this).replaceWith("<td><input type='text' class='"+ title_data[$(this).index()] + "' value='" + $(this).text() + "'></td>");
                        }
                    })
                    console.log('original_data',original_data)
                } // end if

            }else if(action = 'save'){    // 表示从input标签到td标签的转换
                if( d == Number($(this).text())){     // 判断资产ID是否相等，等于的话 ，那么就开始取值，把这个行的所有内容都取出来，放在以ID为key的字典里面
                    $.each($(this).siblings('td'),function () {    // 遍历这一行的每一列的值，
                        if($(this).attr('class') != "bs-checkbox " ) {   // 如果不等于bs-checkbox ，那么我们就可以跳过第一个checkbox了
                            input_data[d][title_data[$(this).index()]] = ($(this).children('input,select').val());       //    把这一列的值，以ID为key的放入字典里面
                            // 把当前的值遍历后用把HTML标签替换成input标签。
                            $(this).children('input,select').replaceWith("<td class='" + title_data[$(this).index()] + "'>" + $(this).children('input,select').val() + "</td>");
                        }
                    })

                } // end if
            }else  if(action = 'cancel'){
                if( d == Number($(this).text())){     // 判断资产ID是否相等，等于的话 ，那么就开始取值，把这个行的所有内容都取出来，放在以ID为key的字典里面
                    $.each($(this).siblings('td'),function () {    // 遍历这一行的每一列的值，
                        if($(this).attr('class') != "bs-checkbox " ) {   // 如果不等于bs-checkbox ，那么我们就可以跳过第一个checkbox了
                            original_data[d][title_data[$(this).index()]] = ($(this).children('input,select').val());       //    把这一列的值，以ID为key的放入字典里面
                            // 把当前的值遍历后用把HTML标签替换成input标签。
                            $(this).children('input,select').replaceWith("<td class='" + title_data[$(this).index()] + "'>" + $(this).children('input,select').val() + "</td>");
                        }
                    })
                }
            }// end if
            });
        } // end for
        return input_data
    }



    //  删除选中的  数据和修改数据的
    function  agree_operation(arg) {
        $('#edit_selected').css('display','none'); // 隐藏这个编辑按钮
        $('#myModal').modal('toggle');
        asset_id = [];   // 定义全局变量的数组，方便后面的提交数据函数调用
        $('input:checkbox:checked').parent().siblings('.id').each(function () {   // 遍历所有选中的框来
                asset_id.push(Number($(this).text()))
            });
        if ( asset_id.length == 0 ){
            alert('没有选中任何数据');
            return false
        }
        console.log(arg,asset_id);
         if(arg=='agree_edit'){
            Change_input_table(asset_id,action='edit')
        }
        //asset_id = JSON.stringify(asset_id);
    }

    function reset_button() {
        $('#edit_selected').css('display','inline');
        $('input:checkbox').prop('checked',false);  // 取消所有选中的复选框
        $('#save_edit,#cancel_edit').css('display','none'); // 隐藏编辑的按钮
    }


    // 编辑表格的时候，通过这个方法来保存对应的内容
    function  save_edit(arg) {
        if(arg=="save"){
            console.log('asset_id',asset_id);
            var result = JSON.stringify(Change_input_table(asset_id,action='save'));
            reset_button()
            console.log('result',result);
            $.ajax({
                url:"{% url 'asset_operation' %}",
                dataType:"json",
                token : csrftoken,
                type:'post',
                data:{"post_data":result,'action':arg},
                success: function (callback) {
                    console.log(callback)
                }, // end success
                error:function () {
                    console.log(callback)
                }, // end error
            })
        }else {
             Change_input_table(asset_id,action='cancel')
             reset_button()
        }
    }




    </script>
{% endblock %}