{% extends 'index.html' %}
{% block btitle %}{{ title }}{% endblock %}
{% block page_content %}
<div id="asset_list">
    <div class="panel-body" >
        <table id="asset_list" class="display table  table-hover">
              <thead >
                    <tr class="btn-info">
                        <th>资产ID</th>
                        <th>资产类型</th>
                        <th>Name</th>
                        <th>SN</th>
                        <th>IDC</th>
                        <th>业务线</th>
                        <th>管理IP</th>
                        <th>制造商</th>
                        <th>型号</th>
                        <th>CPU型号</th>
                        <th>CPU核数</th>
                        <th>内存</th>
                        <th>硬盘(GB)</th>
                        <th>CMD</th>
                    {#    databaase havn't this data  <th>状态</th>#}
                    </tr>
                </thead>
                <tbody>
                {% for info in assets %}
                    <tr>
                        <th><a href="/asset/asset_list/{{ info.id }}" target="_blank">{{ info.id }}</a></th>
                        <th>{{ info.asset_type }}</th>
                        <th>{{ info.name }}</th>
                        <th>{{ info.sn }}</th>
                        <th>{{ info.idc }}</th>
                        <th>{{ info.business_unit }}</th>
                        <th>{{ info.management_ip }}</th>
                        <th>{{ info.manufactory }}</th>
                        <th>{{ info.model }}</th>
                        <th>{{ info.cpu_model }}</th>
                        <th>{{ info.cpu_core_count }}</th>
                        <th>{{ info.ram_size }}</th>
                        <th>{{ info.disk_size }}</th>
                        <th><a href="shell/{{ info.id }} " target="_blank">Run Cmd</a></th>
                    </tr>
                {% endfor %}
                </tbody>
                <footer></footer>
        </table>
    </div>
</div>
<div id="asset_graphic" >
    <h4>当前服务器总数:&nbsp;&nbsp;<span id="total_number_show" style="color: red;font-size: larger"></span></h4>
    <div>
        <div id="os_release"  style="min-width:400px;height:450px;background-color:aliceblue;width: 50%;float: left"></div>
        <div id="manufactory"  style="min-width:400px;height:450px;background-color:aliceblue;width: 50%;float: right"></div>
        <!--暂未使用这个代码，后续可能使用 <div id="hosts_show" style="min-width:400px;height:450px"></div> --> -
        <div id="hosts_show" style="min-width:400px;height:450px">
    </div>
</div>


{% endblock %}
{% block encoding_js %}

    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>

    <script>
        get_sys_load()
        $(document).ready( function () {    // 这个方法来用去高亮当前页面到右边选择到标签
            if ($('.page-header').text() == '服务器信息表') {
                $('#server_asset').toggleClass('active').siblings().removeClass('active');
                $('#sub-item-3').addClass('in').removeAttr('style');
                $('#server_list').css('background-color', 'grey');
                $('#asset_graphic').hide();
                $('#asset_list').show();

            } else if ($('.page-header').text() == '服务器信息饼状图') {
                $('#server_asset').toggleClass('active').siblings().removeClass('active');
                $('#sub-item-3').addClass('in').removeAttr('style');
                $('#server_graphic').css('background-color', 'grey');
                $('#asset_list').hide();
                $('#asset_graphic').show();
                get_data('os_release');
                get_data('manufactory');
                get_data('hosts_show')
            }
        });


    function create_graphic(result,data_type) {
        if(data_type == 'os_release'){   // 显示系统版本的圆饼图
            var os_release_data = [];
            for(var i in result){
                var push_data = [i,Number(result[i])];
                os_release_data.push(push_data);
            }
            $('#os_release').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '服务器操作系统图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'system  version',

                data:os_release_data,
            }]
        });  // end if

        }else if(data_type == 'manufactory'){   // 显示服务器制造商的图
            var manufactory_data = [];
            for(var i in result){
                manufactory_data.push([i,result[i]])
            }
            $('#manufactory').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '服务器制造商'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'manufactory',
                data: manufactory_data,
            }]
        }); // end else if

        }else if(data_type='hosts_show') {   // 折线图

            $('#hosts_show').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: '服务器入库信息'
                },
                subtitle: {
                    text: '最近一个月变动信息'
                },
                xAxis: {
                    categories: result['approved_month']
                },
                yAxis: {
                    title: {
                        text: '数量'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '已批准的服务器',
                    data: result['approved_number']
                }, {
                    name: '待批准的服务器',
                    data: result['approve_number']
                }]
            });
        }

    };

    // getting data to paint for hcharts from server
    function get_data(arg) {
        $.ajax(
            {
                url:'/asset/asset_graphic',
                type:'POST',
                token:csrftoken,
                dataType:'json',
                data:{'graphic_type':arg},
                success: function(data) {
                    console.log(data);
                    if(arg == 'hosts_show'){
                        var result = handler_data_line_chart(data, arg);
                        console.log('result',result);
                        create_graphic(result,arg)
                    }else {
                        var result = handler_data_pie_chart(data, arg);
                        create_graphic(result, arg)
                    }

                 }, // end success
                error: function (data) {
                    console.log(data)
                }, // end error
            }
        )
    }

    // handler these data from response of server,the data is  create a pie chart
    function handler_data_pie_chart(data,data_type) {
        var os_release_dict = {};
        var total_number = data.total_number;
        var os_release_number = data.os_release_number;
        for(var i in os_release_number){
            os_release_dict[i]=os_release_number[i]/total_number*100
        }
        if(data_type=='os_release') {
            $('#total_number_show').text(total_number)
        }
        return os_release_dict
    }

    // handler these data from response of server,the data is  create a line chart
    function  handler_data_line_chart(data,data_type) {
        var already_approved = data.already_approved;
        var wating_approve = data.waiting_approve;

        var approved_month = [];   // the list was storadged  month what come from    already_approved dict
        var approved_number = [];  // the list was storadged  how many asset was approved
        for(var k in already_approved){
            approved_month.push(k);
            approved_number.push(already_approved[k])
        }

        var approve_month = [];
        var approve_number = [];
        for(var k in wating_approve){
            approve_month.push(k);
            approve_number.push(wating_approve[k]);
        }

        var result = {};
        result['approved_month'] =  approved_month;
        result['approved_number'] = approved_number;
        result['approve_month'] = approve_month;
        result['approve_number'] = approve_number;
        return result
    }

    </script>
{% endblock %}